@font-face{ 
    font-family: 'ClashDisplay-Regular';
    src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.section {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 25px;
}

.content1 {
    width: 500px;

    p{
        font-size: 50px;
        font-family: 'ClashDisplay-Regular';
    }
}

.content2 {
    width: 400px;

    button {
        background-color: black;
        color: #fff;
        width: 321px;
        height: 53px;
        padding: 13px 25px;
        margin-top: 30px;
    }

    p{
        color: var(--silver);
    }
}