.section {
    width: 100vw;
    height: 865px;
    background-color: black;
    margin-top: 60px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.content {
    width: 50%;

    p {
        font-size: 80px;
        color: #fff;
    }
}

.content2 {
    width: 50%;

    p {
        color: #fff;
    }

    button {
        background-color: black;
        color: #fff;
        border: 1px solid #fff;
        margin-top: 30px;
    }
}